.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog {
  background: white;
  padding: 24px;
  border-radius: 12px;
  min-width: 300px;
  max-width: 90vw;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  right: -30px;
  top: 0;
}
.closeBtn:focus {
  border: 1px solid#a01515;
  outline: auto;
}

.btnWrapper {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 8px;
  border: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.btnConfirm {
  background-color: #a01515;
}

.btnDecline {
  background-color: #717171;
}
