.iconsMenu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.iconsMenu svg {
  width: 100%;
  height: 100%;
}

.favoritesLink {
  position: relative;
  width: 34px;
  height: 34px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.menuItem svg {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  fill: currentcolor;
}
